*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --kuning: #FFCC00;
}

nav{
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: rgb(255, 255, 255);
    /* justify-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 70px;

        img{
            width: 55px;
            height: 55px;
            /* margin-top: 10px; */
        }
    }

    /* .mob{
        display: none;
    } */

    svg{
        fill: #000000;
    }

    #aktif{
        display: none;
    }

    .buka, .tutup{
        padding: 0 20px;
        right: 0;
        display: none;
    }

    .nav-item{
        /* height: 100%;     */
        /* justify-content: center; */

        li{
            a{
                color: black;
                margin: 10px;
            }

            a:hover{
                border-bottom: 3px solid var(--kuning);
            }
        }
    }
}

.welcome{
    padding-top: 75px;
    /* height: 1005px; */
    /* width: 1059px; */
    margin: auto;
    /* display: flex; */
    text-align: center;

    img{
        width: 328px;
        padding-top: 61px;
    }

    h1{
        padding-top: 58px;
        font-size: 64px;
    }

    h3{
        padding-top: 67px;
        font-size: 36px;
    }

    h5{
        padding-top: 29px;
        font-size: 24px;
        font-weight: 100;
        width: 90vw;
        margin: auto;
    }

    .select-button{
        margin-top: 60px;
        margin-bottom: 80px;

        button{
            width: 226px;
            height: 61px;
            border-radius: 7px;
            margin-left: 31px;
            margin-right: 3%;
            font-weight: bold;
            font-size: 16px;
        }

        .b1{
            background-color: #FFCC00;
        }

        .b2{
            background-color: #000000;
            color: white;
        }

        .b1:hover{
            background-color: #e7b900;
        }

        .b2:hover{
            background-color: #202020;
        }
    }
}

.about{
    h3{
        text-align: center;
    }
}

footer{
    background-color: #000000;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media ( max-width: 768px) {

    nav{
        /* background-color: antiquewhite; */
        /* display: flex; */
        /* justify-content: flex-end; */
        

        .logo{
            img{
                display: none;
            }

            p{
                /* margin: 20vw; */
                
            }
        }

        .buka, .tutup{
            display: block;
        }

        .tutup{
            padding-top: 25px;
        }

        .nav-item{
            display: none;

            li{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                height: 100%;

                position: fixed;
                top: 0;
                /* right: -500px; */
                right: 0;
                z-index: 10;
                width: 300px;
                background-color: white;
                box-shadow: -5px 0px 1000px rgba(0, 0, 0, 0.7);
                /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */

                a{
                    box-sizing: border-box;
                    height: auto;
                    width: 100%;
                    padding: 20px 30px;
                    justify-content: flex-start;
                }
            }
        }

        #aktif:checked ~ .nav-item{
            /* right: 0px; */
            display: flex;
        }
    }

    .welcome{
        padding-top: 75px;
        height: 1000px; /*untuk sementara saja*/
        margin: auto;
        text-align: center;

        img{
            width: 228px;
            padding-top: 61px;
        }

        h1{
            padding-top: 28px;
            font-size: 34px;
        }

        h3{
            padding-top: 17px;
            font-size: 20px;
        }

        h5{
            padding-top: 19px;
            font-size: 14px;
            font-weight: 400;
            /* width: 90vw; */
            /* margin: auto; */
        }

        .select-button{
            margin-top: 60px;
            margin-bottom: 80px;

            button{
                width: 226px;
                height: 61px;
                border-radius: 7px;
                margin-left: 31px;
                margin-right: 3%;
                font-weight: bold;
                font-size: 16px;
            }

            .b1{
                background-color: #FFCC00;
            }

            .b2{
                background-color: #000000;
                color: white;
            }

            .b1:hover{
                background-color: #e7b900;
            }

            .b2:hover{
                background-color: #202020;
            }
        }
    }
}